# Postgres
POSTGRES_DB=rag
POSTGRES_USER=rag
POSTGRES_PASSWORD=rag

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.host
PGADMIN_DEFAULT_PASSWORD=admin

# Ports
PG_PORT=5432
PGADMIN_PORT=5433

# Embeddings
EMBEDDING_PROVIDER=lmstudio
EMBEDDING_BASE_URL=http://host.docker.internal:11434
EMBEDDING_MODEL=text-embedding-qwen3-embedding-0.6b

# Chat LLM
LLM_PROVIDER=lmstudio
LLM_BASE_URL=http://host.docker.internal:1234/v1
LLM_MODEL=qwen2.5-coder-7b-instruct

# Api
API_PORT=3000
